body {
    background-color: black;
}

h1 {
    color: white;
}


div {
    text-align: center;
}

button {
    height: 2.5em;
    width: 5.5em;
    border: none;
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: rgba(245, 245, 220, 0.738);
}


.bt-iniciar {
    background-color: green;
}

.bt-pausar {
    background-color: grey;
}

.bt-parar {
    background-color: red;
}
